{% from "layouts/macros.html" import image %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | JCMS</title>

    {% assets "css_base" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" type="application/manifest+json" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    {% assets "js_base" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
    <div class="header-main">
        {% include "layouts/header.html" %}
        <main id="main" hx-swap-oob="true">{% block content %}{% endblock %}</main>
    </div>
    {% include "layouts/footer.html" %}
</body>
</html>