/*** text styling ***/
body {
    font-family: "Nunito", sans-serif;
    font-size: var(--fs-main);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

nav {
    font-family: "Nunito";
    font-size: var(--fs-main);
    font-weight: 600;
}

a {
    text-decoration: none;
}

/*** header + footer ***/
header {
    display: contents;
}

.banner {
    background: var(--c-highlight-bg);
    padding: 1em 0;
}

.banner img {
    margin: auto;
}

.banner h2 {
    color: var(--c-highlight-fg);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5em 0.8em;
    z-index: 10;
    background: var(--c-nav-bg);
    border-bottom: 2px solid var(--c-main-bg);
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    background-image: url("/static/menu-icon.svg");
    background-size: 100% 100%;
    width: var(--icon-size);
    height: var(--icon-size);
}

nav:has(#nav-toggle:checked) {
    flex-direction: column;
}

#nav-toggle:checked~#nav-toggle-label {
    background-image: url("/static/close-icon.svg");
}

nav .sitemap {
    display: none;
    list-style: none;
    text-align: center;
}

#nav-toggle:checked~.sitemap {
    display: block;
    margin: 0.3em 0;
}

@media only screen and (min-width: 1050px) {
    #nav-toggle-label {
        display: none;
    }

    nav .sitemap {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        transform: none;
    }

    nav .sitemap li:not(:last-child) {
        padding-right: 0.8em;
    }

    nav .sitemap li:not(:first-child) {
        padding-inline-start: 0.8em;
        border-inline-start: 1px solid black;
    }
}

nav .sitemap a {
    color: var(--c-nav-fg);
}

nav .sitemap a.current {
    color: black;
}

nav .socials {
    flex-grow: 0;
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header-main {
    min-height: calc(100vh - var(--footer-height));
    background: var(--c-main-bg);
}

footer {
    height: var(--footer-height);
    padding-block-start: 0.7em;
    background: var(--c-highlight-bg);
}

footer h3 {
    text-align: center;
    color: var(--c-highlight-fg);
    font-size: var(--fs-main);
}

footer p {
    text-align: center;
    color: var(--c-highlight-fg2);
    font-size: var(--fs-secondary);
}

/*** main ***/
main {
    color: var(--c-main-fg);
}

.container {
    width: 100%;
    padding: 1em 0.5em 5em 0.5em;
}

@media only screen and (min-width: 850px) {
    .container {
        width: 800px;
        margin: auto;
    }
}

.large-container {
    width: 100%;
    padding: 1rem 0.5rem 5rem 0.5rem;
}

@media only screen and (min-width: 850px) {
    .large-container {
        width: 800px;
        margin: auto;
    }
}

@media only screen and (min-width: 1050px) {
    .large-container {
        width: 1000px;
    }
}

main h1 {
    margin-bottom: 0.5em;
    text-align: center;
    font-size: var(--fs-title);
}

@media only screen and (min-width: 850px) {
    main h1 {
        margin-block-start: 1rem;
    }
}

main h2 {
    font-size: var(--fs-heading);
}

.indented {
    padding-inline-start: 2em;
}

@media only screen and (min-width: 850px) {
    .center-text {
        text-align: center;
    }
}

main li {
    margin-inline-start: 1.5em;
}

main blockquote {
    margin-inline-start: 1.5em;
}

main p+p {
    margin-block-start: 1.5rem;
}

main p+h2 {
    margin-block-start: 1.5rem;
}

.carousel-cell {
    width: 100%;
}

.carousel-cell>img {
    width: 100%;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-block-start: 65%;
}

.iframe-container>iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

main a {
    color: var(--c-main-fg);
    text-decoration: underline;
}

/*** /committee/ ***/

.committee-cell {
    width: 320px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.committee-cell h3 {
    margin-block-start: 0.5em;
}

/*** icons ***/

.icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: 100% 100%;
}

.icon-email {
    background-image: url('/static/email-icon.svg');
}
