{% extends "layouts/base.html" %}

{% block title %}Committee{% endblock %}

{% block content %}
<div class="large-container">
    <h1>Committee</h1>
    <div class="main-carousel nojs-flex" data-carousel='{"groupCells": true}'>
        {% for member in data["committee.yml"] %}
        <div class="carousel-cell committee-cell">
            <img src="{{ photo(member.photo) }}">
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
            <a href="mailto:{{ member.email }}" class="icon icon-email"></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}