{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="large-container">
    <div class="main-carousel" data-carousel='{"cellAlign": "left", "autoPlay": 5000}'>
        {% for photo in data["home-carousel.yml"] %}
        <div class="carousel-cell">
            {{ image(photo.file, sizes="
                (min-width: 1050px) 1000px,
                (min-width: 850px) 800px,
                calc(100vw - 1rem)
            ", alt=photo.alt) }}
        </div>
        {% endfor %}
    </div>
    <div class="center-text">
        <h1>One of Cambridge's Largest Music Societies</h1>
        <h2>Jesus College, University of Cambridge</h2>
    </div>
</div>
{% endblock %}
